<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<table>
			<tr>
				<th>Nome</th>
				<th>Sobrenome</th>
			</tr>
			{{#each linhas}}
			<tr>
				<td>{{nome}}</td>
				<td>{{sobrenome}}</td>
				<td>
					<button onclick="onUpdate">update</button>
					<button onclick="onDelete">del</button>
				</td>
			</tr>
			{{/each}}
		</table>
		<form action="/inserir" method="POST">
			Nome:
			<br>
			<input type="text" name="nome" value="">
			<br>
			Sobrenome:
			<br>
			<input type="text" name="sobrenome" value="">
			<br><br>
			<input type="submit" value="Salvar">
		</form>
	</body>
</html>
